.popular__items {
  margin-top: 150px;
  .popular__title {
    font-size: 44px;
    color: $black;
    margin-bottom: 2rem;
  }
  .popular__desc {
    font-size: 1rem;
    font-weight: 300;
    color: $gris-p;
  }
}